@model LeaveSystem.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Title = "Home";
}
<div class="container-fluid">
    <div class="col-sm-12">
        <img src="~/Images/qb1.png" alt="QBurst" height="200px" width="150px" />
        <h1>QBurst- Leave Management System Portal</h1>
        <p>A portal for applying leaves and to view the leave status.</p>
    </div>
</div>

