@model LeaveSystem.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "Showemp";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    img{
        float:left;
        margin-right:17px;
        width:150px;
        height:200px;
        margin-top:50px;
        
    }
    .text{
        margin-top:50px
    }
    .row{
        margin-left:30px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <img src="data:image;base64,@Model.Image"/>
        <div class="text">
            <h3>@Model.EmployeeName</h3>
            <h4>Employee ID: @Model.EmployeeID</h4>
            <h4>Email : @Model.EmployeeEmail</h4>
            <h4>Contact : @Model.EmployeeContactno</h4>
        </div>
    </div>

</div>

